<nav>
    <div class="nav-left">
        <h1>Project Shield</h1>
    </div>
    <ul class="nav-links">
        <li><a href="/Project-Shield/index.html"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/Project-Shield/components/listings.html"><i class="fas fa-list"></i> Listings</a></li>
        <li><a href="/Project-Shield/components/threat-updates.html"><i class="fas fa-shield-alt"></i> Threat Updates</a></li>
        <li><a href="/Project-Shield/components/details.html"><i class="fas fa-info-circle"></i> Details</a></li>
    </ul>
    <div class="user-profile tooltip">
        <a href="components/login.html" id="sign-in-button">Sign In</a>
    </div>
</nav>
