<div id="sidebar" class="sidebar-container collapsed">
    <ul>
        <li><a href="components/dashboard.html"><i class="fas fa-home"></i><span>Home</span></a></li>
        <li><a href="components/listings.html"><i class="fas fa-list"></i><span>Listings</span></a></li>
        <li><a href="components/threat-updates.html"><i class="fas fa-shield-alt"></i><span>Threat Updates</span></a></li>
        <li><a href="components/details.html"><i class="fas fa-info-circle"></i><span>Details</span></a></li>
    </ul>
</div>
